@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/menu.css');

*{ margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif; }

body{
    
        height: 100vh;
        background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
    
    

}
.logo { width: 300px; max-width: 500px; cursor: pointer; padding: 0 0; margin-right: auto; } .header { position: fixed; top: 0; left: 0; width: 100%; padding: 20px 100px; background: rgba(255, 255, 255, 0.1); display: flex; justify-content: space-between; align-items: center; backdrop-filter: blur(10px); border-bottom: 2px solid rgba(255, 255, 255, 0.2); z-index: 100; }

.header::before { content: ""; position: absolute; top: 0; left: -100%; width: 100%; height: 100%; background: linear-gradient( 90deg, transparent, rgba(1, 175, 255, 0.322), transparent ); transition: 0.5s; }

.header:hover::before { left: 100%; } .navbar a { color: #0178ff; font-size: 22px; text-decoration: none; margin-left: 35px; transition: 0.3s; }

.navbar a:hover { color: rgba(155, 117, 13, 0.589); }

#menu-icon {
    font-size: 36px;
    color: #008cff;
    display: none;
  }

/* BREAKPOINTS */ @media (max-width: 992px) { .header { padding: 1.25rem 4%; } }

@media screen and (max-width: 768px) {
#menu-icon {
    display: block;
  }

 
.navbar {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0.5rem 4%;
  display: none;
}

.navbar.active {
  display: block;
}

.navbar a {
  display: block;
  margin: 1.5rem 0;
}

.nav-bg {
  position: absolute;
  top: 179px;
  left: 0;
  width: 100%;
  height: 295px;
  background: rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  z-index: 99;
  display: none;
}

.nav-bg.active {
  display: block;
} 


.image
{
    
      margin-right: 200px; 
}
    
.box
 {
  
    margin-top: 30%; 
    background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
    padding: 5%; 
    width: 90%; 
    height: 70%;
    max-width: 700px; 
    margin-top: 30%; 
    margin-left: 5%; 
    border-radius: 14px;
    animation: shineGlow 1300s infinite alternate;


}

.qr-header{
  margin-top:60px;
}
}

@keyframes shineGlow { 0% { box-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.3); } 100% { box-shadow: 0 0 20px rgba(255, 255, 255, 0.7), 0 0 40px rgba(255, 255, 255, 0.5), 0 0 60px rgba(255, 255, 255, 0.3); } }

.image {
    float: right;
    width: 25%; 
    max-width: 400px; 
    height: auto;
    margin-top: 30px;
    margin-right: 5%; 
    animation: shineGlow 0.3s infinite alternate;
}

.box {
    background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
    padding: 5%; 
    width: 90%; 
    max-width: 700px; 
    margin-top: 10%; 
    margin-left: 5%; 
    border-radius: 14px;
    animation: shineGlow 1300s infinite alternate;
}

.qr-header h1{ font-size: 30px; text-align: center; color: #033a37ea; margin-bottom: 24px; text-transform: uppercase; font-family: 'Akaya Kanadaka'; }

.qr-header input{ width: 100%; margin-block: 12px;

}

.qr-header input, select{ padding: 8px; border-radius: 5px; font-size: 18px; outline: none; background-color:#fff; border: 2px solid transparent; }

.qr-header label{ color: #0a4770ea; font-size: 18px; }

.qr-header div{ display: flex; justify-content: space-between; }

.qr-footer{ display: flex; justify-content: center;

}
.qr-footer a{

 
text-decoration: none;
font-size: 18px;
background-image: linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
padding: 14px 36px;
margin-inline: 2px;
border-radius: 11px;
font-weight: 600;
color: #06324d;
}

.qr-body{ display: grid; place-items: center; padding:20px;

}

.qr-body { max-width: 100%; max-height: 100%; margin-block: 10px; padding: 20px; border: 1px solid transparent;

}

@media screen and (max-width:520px){
     .qr-footer a{ padding: 12px; font-size: 16px; } }
